.sidebar {
    background: #ffffff;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 18px 0px;
    padding-left: 1px;
}

.sidebar__brand {
    display: flex;
    align-items: center;
    gap: 20px;

    border-bottom: 1px solid rgba(255, 255, 255, 0.06);

}

.brand__mark {
    width: 30px;
    height: 30px;
    border-radius: 999px;
    display: grid;
    place-items: center;
    background: #6cc04a;
    color: #ffffff;
    font-weight: 800;
}

.brand__name {
    font-size: 18px;
    font-weight: 800;
}

.sidebar__nav {
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 10px;
    font-size: 13px;
    font-weight: 600;
    color: black;
    text-align: left;
    background: transparent;
    border: 0;
    cursor: pointer;
}

.nav-item:hover {
    background: #47cb1359;
}

.nav-item--active {
    background: #47cb1359;
    color: #6cc04a;
    ;
}

.btn-justify {
    background-color: #6cc04a;
    color: #ffffff;
    border: 0px;
    padding: 21px 27px;
}

.nav-item__icon {
    width: 20px;
    text-align: center;
}