<div class="event-card">
  <div class="card-image">
    <img [src]="eventmodel.PosterUrl | imageUrl" />

    <button class="bookmark" (click)="bookmark($event)" [class.active]="isfavorite">
      <div *ngIf="isfavorite">
        <i class="icon" style="color: #333"><i class="fa-solid fa-bookmark"></i></i>
      </div>
      <div *ngIf="!isfavorite">
        <i class="fa-solid fa-bookmark"></i>
      </div>
    </button>
  </div>

  <div class="card-content" [routerLink]="['/event', eventmodel.Id]">
    <h3 class="title" [title]="eventmodel.Title">
      {{ eventmodel.Title }}
    </h3>

    <div class="price">
      {{ firstPrice() | vndCurrency }}
    </div>
  </div>

  <div class="card-footer">
    <div class="date">
      <i class="fa-regular fa-calendar-days"></i>
      {{ eventmodel.StartDate | formatDate }}
    </div>

    <div class="time-left">
      <i class="fa-regular fa-clock"></i>
      {{ eventmodel.StartDate | duration : eventmodel.EndDate }}
    </div>
  </div>
</div>