<div class="events-grid" *ngIf="displayedEvents.length > 0">
  <app-event-card *ngFor="let event of displayedEvents" [eventmodel]="event">
  </app-event-card>
</div>

<!-- Thêm thông báo khi không tìm thấy sự kiện -->
<div class="empty-state" *ngIf="displayedEvents.length === 0">
  <p class="empty-text" *ngIf="isNotCount">Không có sự kiện nào</p>
  <p class="empty-text" *ngIf="showFavorites">
    Chưa có sự kiện yêu thích nào được lưu.
  </p>
</div>

<div class="page" *ngIf="events.length > 0 && !showFavorites">
  <button
    *ngIf="hasMore"
    type="button"
    class="btn-loadmode"
    (click)="loadMore()"
  >
    Load more
  </button>
</div>
