<div class="user">
  
  <div *ngIf="!user" class="login-btn">
    <a routerLink="/auth/login" class="btn-login">Login</a>
  </div>

  
  <div *ngIf="user">
    <img [src]="user.AvatarUrl | imageUrl" class="avatar" (click)="toggleDropdown()" />

    <div class="dropdown" *ngIf="isOpen">
      <div class="user-info">
        <img [src]="user.AvatarUrl | imageUrl" alt="avarta" />
        <div class="infor">
          <h4>{{ fullName }}</h4>
          <p>{{ user?.Email }}</p>
        </div>
      </div>

      <ul>
        <li *ngIf="hasRole(['ADMIN', 'ORGANIZER'])">
          <a routerLink="/admin/dashboard">My Organisation</a>
        </li>
        <li><a routerLink="/profile">My Profile</a></li>
        <li><a (click)="signOut()">Sign Out</a></li>
      </ul>
    </div>
  </div>
</div>