<div class="user">

  <div *ngIf="!user" class="login-btn">
    <a routerLink="/auth/login" class="btn-login">Đăng nhập</a>
    <a routerLink="/auth/signup" style="margin-left: 10px;" class="btn-login">Đăng ký</a>
  </div>


  <div style="width: 40px; height: 40px;" *ngIf="user">
    <img [src]="user.AvatarUrl | imageUrl" class="avatar" (click)="toggleDropdown()" />

    <div class="dropdown" *ngIf="isOpen">
      <div class="user-info">
        <img [src]="user.AvatarUrl | imageUrl" alt="avarta" />
        <div class="infor">
          <h4>{{ fullName }}</h4>
          <p>{{ user?.Email }}</p>
        </div>
      </div>

      <ul>
        <li *ngIf="hasRole(['ADMIN', 'ORGANIZER'])">
          <a routerLink="/admin/dashboard">Quản lý tổ chức</a>
        </li>
        <li><a routerLink="/profile">Thông tin cá nhân</a></li>
        <li><a (click)="signOut()">Đăng xuất</a></li>
      </ul>
    </div>
  </div>
</div>